[submodule "kernel"]
	path = kernel
	url = https://github.com/jasonleecode/fiasco.git
	ignore = untracked
[submodule "l4re"]
	path = l4re
	url = https://github.com/jasonleecode/l4re-core.git
	ignore = untracked
[submodule "l4mk"]
	path = l4mk
	url = https://github.com/jasonleecode/mk.git
[submodule "pkg/acpica"]
	path = pkg/acpica
	url = https://github.com/kernkonzept/acpica.git
[submodule "pkg/ada"]
	path = pkg/ada
	url = https://github.com/kernkonzept/ada.git
[submodule "pkg/ahci-driver"]
	path = pkg/ahci-driver
	url = https://github.com/kernkonzept/ahci-driver.git
[submodule "pkg/atkins"]
	path = pkg/atkins
	url = https://github.com/kernkonzept/atkins.git
[submodule "pkg/bcm2835-mbox-driver"]
	path = pkg/bcm2835-mbox-driver
	url = https://github.com/kernkonzept/bcm2835-mbox-driver.git
[submodule "pkg/cons"]
	path = pkg/cons
	url = https://github.com/kernkonzept/cons.git
[submodule "pkg/drivers-frst"]
	path = pkg/drivers-frst
	url = https://github.com/kernkonzept/drivers-frst.git
[submodule "pkg/emmc-driver"]
	path = pkg/emmc-driver
	url = https://github.com/kernkonzept/emmc-driver.git
[submodule "pkg/gnu-efi"]
	path = pkg/gnu-efi
	url = https://github.com/kernkonzept/gnu-efi.git
[submodule "pkg/l4virtio"]
	path = pkg/l4virtio
	url = https://github.com/kernkonzept/l4virtio.git
[submodule "pkg/libblock-device"]
	path = pkg/libblock-device
	url = https://github.com/kernkonzept/libblock-device.git
[submodule "pkg/libfdt"]
	path = pkg/libfdt
	url = https://github.com/kernkonzept/libfdt.git
[submodule "pkg/libvcpu"]
	path = pkg/libvcpu
	url = https://github.com/kernkonzept/libvcpu.git
[submodule "pkg/nvme-driver"]
	path = pkg/nvme-driver
	url = https://github.com/kernkonzept/nvme-driver.git
[submodule "pkg/readline"]
	path = pkg/readline
	url = https://github.com/kernkonzept/readline.git
[submodule "pkg/tinit"]
	path = pkg/tinit
	url = https://github.com/kernkonzept/tinit.git
[submodule "pkg/tvmm"]
	path = pkg/tvmm
	url = https://github.com/kernkonzept/tvmm.git
[submodule "pkg/uvmm"]
	path = pkg/uvmm
	url = https://github.com/kernkonzept/uvmm.git
[submodule "pkg/virtio-net"]
	path = pkg/virtio-net
	url = https://github.com/kernkonzept/virtio-net.git
[submodule "pkg/zlib"]
	path = pkg/zlib
	url = https://github.com/kernkonzept/zlib.git
[submodule "pkg/virtio-net-switch"]
	path = pkg/virtio-net-switch
	url = https://github.com/kernkonzept/l4_virtio-net-switch.git
[submodule "pkg/usb"]
	path = pkg/usb
	url = git@github.com:L4Re/usb.git
[submodule "pkg/lwip"]
	path = pkg/lwip
	url = git@github.com:L4Re/lwip.git
[submodule "pkg/wamr"]
	path = pkg/wamr
	url = git@github.com:jasonleecode/wasm-micro-runtime.git
[submodule "pkg/filesystem/ext4/contrib"]
	path = pkg/filesystem/ext4/contrib
	url = https://github.com/gkostka/lwext4.git
