[submodule "kernel"]
	path = kernel
	url = https://github.com/jasonleecode/fiasco.git
	ignore = untracked
[submodule "l4re"]
	path = l4re
	url = https://github.com/jasonleecode/l4re-core.git
	ignore = untracked
[submodule "l4mk"]
	path = l4mk
	url = https://github.com/kernkonzept/mk.git
[submodule "pkg/drivers/acpica"]
	path = pkg/drivers/acpica
	url = https://github.com/kernkonzept/acpica.git
[submodule "pkg/drivers/ada"]
	path = pkg/drivers/ada
	url = https://github.com/kernkonzept/ada.git
[submodule "pkg/drivers/ahci-driver"]
	path = pkg/drivers/ahci-driver
	url = https://github.com/kernkonzept/ahci-driver.git
[submodule "pkg/drivers/atkins"]
	path = pkg/drivers/atkins
	url = https://github.com/kernkonzept/atkins.git
[submodule "pkg/drivers/bcm2835-mbox-driver"]
	path = pkg/drivers/bcm2835-mbox-driver
	url = https://github.com/kernkonzept/bcm2835-mbox-driver.git
[submodule "pkg/drivers/cons"]
	path = pkg/drivers/cons
	url = https://github.com/kernkonzept/cons.git
[submodule "pkg/drivers/drivers-frst"]
	path = pkg/drivers/drivers-frst
	url = https://github.com/kernkonzept/drivers-frst.git
[submodule "pkg/drivers/emmc-driver"]
	path = pkg/drivers/emmc-driver
	url = https://github.com/kernkonzept/emmc-driver.git
[submodule "pkg/drivers/gnu-efi"]
	path = pkg/drivers/gnu-efi
	url = https://github.com/kernkonzept/gnu-efi.git
[submodule "pkg/drivers/hello"]
	path = pkg/drivers/hello
	url = https://github.com/kernkonzept/hello.git
[submodule "pkg/drivers/l4virtio"]
	path = pkg/drivers/l4virtio
	url = https://github.com/kernkonzept/l4virtio.git
[submodule "pkg/drivers/libblock-device"]
	path = pkg/drivers/libblock-device
	url = https://github.com/kernkonzept/libblock-device.git
[submodule "pkg/drivers/libfdt"]
	path = pkg/drivers/libfdt
	url = https://github.com/kernkonzept/libfdt.git
[submodule "pkg/drivers/libvcpu"]
	path = pkg/drivers/libvcpu
	url = https://github.com/kernkonzept/libvcpu.git
[submodule "pkg/drivers/nvme-driver"]
	path = pkg/drivers/nvme-driver
	url = https://github.com/kernkonzept/nvme-driver.git
[submodule "pkg/drivers/readline"]
	path = pkg/drivers/readline
	url = https://github.com/kernkonzept/readline.git
[submodule "pkg/drivers/tinit"]
	path = pkg/drivers/tinit
	url = https://github.com/kernkonzept/tinit.git
[submodule "pkg/drivers/tvmm"]
	path = pkg/drivers/tvmm
	url = https://github.com/kernkonzept/tvmm.git
[submodule "pkg/drivers/uvmm"]
	path = pkg/drivers/uvmm
	url = https://github.com/kernkonzept/uvmm.git
[submodule "pkg/drivers/virtio-net"]
	path = pkg/drivers/virtio-net
	url = https://github.com/kernkonzept/virtio-net.git
[submodule "pkg/drivers/zlib"]
	path = pkg/drivers/zlib
	url = https://github.com/kernkonzept/zlib.git
[submodule "pkg/drivers/virtio-net-switch"]
	path = pkg/drivers/virtio-net-switch
	url = https://github.com/kernkonzept/l4_virtio-net-switch.git

[submodule "pkg/library/usb"]
	path = pkg/library/usb
	url = git@github.com:L4Re/usb.git
[submodule "pkg/library/lwip"]
	path = pkg/library/lwip
	url = git@github.com:L4Re/lwip.git
