menu "SPI driver"

config SPI_DRIVER_RPI4
	bool "RPI4"
	default y
	help
	  Include support for the Raspberry Pi 4 SPI controller (BCM2835).

config SPI_DRIVER_IMX8
	bool "i.MX8"
	default y
	help
	  Include support for the i.MX8 eCSPI controller.

config SPI_DRIVER_AM335X
	bool "AM335x (BeagleBone Black)"
	default y
	help
	  Include support for the TI AM335x McSPI controller
	  (BeagleBone Black and compatible boards).

endmenu
